.container {
  border: 3px solid #ddd;
  width: 400px;
  height: 680px;
  color: blue;
  margin: 50px auto;
  position: relative;
}

.btn-group {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.btn-group > button {
  width: 50%;
  height: 80px;
  background-color: blue;
  color: white;
  font-size: 2em;
  font-weight: 700;
}

.number {
  position: absolute;
  width: 100%;
  color: blue;
  font-size: 75px;
  height: 80px;
  top: 300px;
  margin-top: -40px;
  text-align: center;
}